<fieldset>
  <div class="group">
    <%= f.label :email, User.human_attribute_name('email') %>
    <%= f.text_field :email, :class => 'text_field' %>
    <span class="help-block">z.b.: max.mustermann@beispiel.com</span>
  </div>

  <div class="group">
    <%= f.label :password, t("activerecord.attributes.user.password") %>
    <%= f.password_field :password, :class => 'text_field' %>
    <span class="help-block">z.B.: geheim$123</span>
  </div>

  <div class="group">
    <%= f.label :password_confirmation, t("activerecord.attributes.user.password_confirmation") %>
    <%= f.password_field :password_confirmation, :class => 'text_field' %>
    <span class="help-block">z.B.: geheim$123</span>
  </div>

  <div class="group">
    <%= f.label :height, t("activerecord.attributes.user.height") %>
    <%= f.text_field :height, :class => 'text_field' %>
    <span class="help-block">z.B.: 178</span>
  </div>

  <div class="group">
    <%= f.label :target, t("activerecord.attributes.user.target") %>
    <%= f.text_field :target, :class => 'text_field' %>
    <span class="help-block">z.B.: 78</span>
  </div>

  <div class="group">
    <%= f.label :public, t("activerecord.attributes.user.public") %>
    <%= f.check_box :public, :class => 'checkbox' %>
    <span class="help-block">Kreuzen Sie dieses Feld an, wenn Sie Ihren Gewichtsverlauf veröffentlichen und mit anderen vergleichen möchten.</span>
  </div>


  <% if admin? %>
      <div class="group">
        <%= f.label :admin, User.human_attribute_name('admin')  %>
        <%= f.check_box :admin, :class => 'checkbox' %>
        <span class="help-block">verleiht Administratorberechtigung</span>
      </div>
  <% end %>
</fieldset>

<%= button_tag t("save"), class: "btn btn-primary" %>
<%= link_to t("cancel"), :back, :class => "btn btn-warning" %>