
  <div class="group">
    <%= f.label :email, User.human_attribute_name('email'), :class => :label %>
    <%= f.text_field :email, :class => 'text_field' %>
    <span class="description">z.b.: max.mustermann@beispiel.com</span>
  </div>

  <div class="group">
    <%= f.label :password, t("activerecord.attributes.user.password"), :class => :label %>
    <%= f.password_field :password, :class => 'text_field' %>
    <span class="description">z.B.: geheim$123</span>
  </div>

  <div class="group">
    <%= f.label :password_confirmation, t("activerecord.attributes.user.password_confirmation"), :class => :label %>
    <%= f.password_field :password_confirmation, :class => 'text_field' %>
    <span class="description">z.B.: geheim$123</span>
  </div>

  <div class="group">
    <%= f.label :height, t("activerecord.attributes.user.height"), :class => :label %>
    <%= f.text_field :height, :class => 'text_field' %>
    <span class="description">z.B.: 178</span>
  </div>

  <div class="group">
    <%= f.label :target, t("activerecord.attributes.user.target"), :class => :label %>
    <%= f.text_field :target, :class => 'text_field' %>
    <span class="description">z.B.: 78</span>
  </div>

  <div class="group">
    <%= f.label :public, t("activerecord.attributes.user.public"), :class => :label %>
    <%= f.check_box :public, :class => 'checkbox' %>
    <span class="description">Kreuzen Sie dieses Feld an, wenn Sie Ihren Gewichtsverlauf veröffentlichen und mit anderen vergleichen möchten.</span>
  </div>


  <% if admin? %>
    <div class="group">
      <%= f.label :admin, User.human_attribute_name('admin'), :class => :label %>
      <%= f.check_box :admin, :class => 'checkbox' %>
    <span class="description">verleiht Administratorberechtigung.</span>
    </div>
  <% end %>

<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.back", :default => "Back"), :back, :class => "text_button_padding link_button" %>
</div>

