<% content_for :sidebar do %>
  <% if admin? %>
    <li><%= link_to t("list"), users_path  %></li>
    <li><%= link_to t("new"), new_user_path %></li>
  <% end %>
  <li class="active"><%= link_to t("edit"), edit_user_path %></li>
  <li><%= link_to t("invite"), new_invitation_path %></li>
<% end %>

<h2 class="title"><%= t("activerecord.models.user") %> <%= t("edit_lc") %></h2>

<%= bootstrap_error(@user, User ) %>

<%= form_for @user, :url => user_path(@user), :html => { :class => :form } do |f| -%>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end -%>