<% content_for :sidebar do %>
  <li class="active"><%= link_to t("list"), users_path  %></li>
  <li><%= link_to t("new"), new_user_path %></li>
  <li><%= link_to t("invite"), new_invitation_path %></li>   
<% end %>

<h2 class="title"><%= t("all", :default => "All")  %> <%= User.model_name.human %></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= User.human_attribute_name('email') %></th>
      <th><%= t("public")  %></th>
      <th><%= t("height")  %></th>
      <th><%= User.human_attribute_name('admin') %></th>
      <th><%= t("created_at")  %></th>
      <th class="last">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| -%>
      <tr>
        <td><%= link_to user.email, user_path(user) %></td>
        <td><%= user.public? ? raw("&#10003;") : "X" %></td>
        <td><%= user.height %></td>
        <td><%= user.admin? ? raw("&#10003;") : "X" %></td>
        <td><%= l(user.created_at, :format => :long_all) %></td>
        <td>
          <%= link_to t("show"), user_path(user), class: "btn btn-primary" %>
          <%= link_to t("edit"), edit_user_path(user), class: "btn btn-warning" %> 
          <%= link_to t("delete"), user_path(user), :method => :delete, :confirm => "#{t("confirm")}", class: "btn btn-danger" %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
<%= paginate @users %>