<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", invitations_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_invitation_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> <%= Invitation.human_name %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th><%= Invitation.human_attribute_name('recipient_email') %></th>
          <th class="last"><%= t("web-app-theme.created_at")  %></th>
        </tr>
        <% @invitations.each do |invitation| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= invitation.recipient_email %></td>
          <td><%= l(invitation.created_at, :format => :long_all) %></td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'layouts/sidebar') -%>

