<% content_for :sidebar do %>
  <li  class="active"><%= link_to t("invite"), new_invitation_path %></li>   
<% end %>

<%= form_for @invitation do |f| %>
  <fieldset>
    <%= f.label :recipient_email, "Die Emailadresse des Einzuladenden" %>
    <%= f.text_field :recipient_email %>
    <span class="help-block">z.b.: max.mustermann@beispiel.com</span>
  </fieldset>
  <%= f.submit "Person einladen", class: "btn btn-info" %>
<% end %>
