<% content_for :sidebar do %>
  <li  class="active"><%= link_to t("invite"), new_invitation_path %></li>   
<% end %>

<%= form_for @invitation do |f| %>
  <fieldset>
    <%= f.label :recipient_email, t("invitee") %>
    <%= f.text_field :recipient_email %>
    <span class="help-block"><%= t("helpers.email") %></span>
  </fieldset>
  <%= f.submit t("invite_now"), class: "btn btn-info" %>
<% end %>
