<div class="well">
  <h1>BMI-Monitor</h1>

  <p>Momentan sind wir in einer offenen &beta;-Phase. 
     Wenn Sie Ihre Emailadresse hinterlassen, werden wir Sie benachrichtigen,
     sobald wir weitere Benutzer aufnehmen.</p>
  <%= form_for Invitation.new, :class => 'form' do |f| %>
    <fieldset>
      <label>Ihre Email-Adresse</label>
      <%= f.text_field :recipient_email, :class => 'text_field' %>          
    </fieldset>
    <%= f.submit t("register"), class: "btn btn-primary" %>
  <% end %>
</div>  
<blockquote>
  <p>
    Der Body-Mass-Index (BMI) ... ist eine Maßzahl für die Bewertung des Körpergewichts eines Menschen in Relation zu seiner
    Körpergröße. Sie wurde 1870 von Adolphe Quetelet entwickelt.<br/>
    Der BMI bezieht das Körpergewicht ... auf die Körperoberfläche, die näherungsweise aus dem
    Quadrat der Körpergröße berechnet wird. Der BMI ist lediglich ein grober Richtwert, da er weder Statur und
    Geschlecht noch die individuelle Zusammensetzung der Körpermasse aus Fett- und Muskelgewebe eines Menschen
    berücksichtigt.
  </p>
<small>Quelle: Wikipedia: "Body-Mass-Index"</small>
</blockquote>

      
<h2><%= t("authentication") %></h2>
<%= form_tag '/authentication/login', :method => :post, :class => 'form' do %>
  <fieldset>
    <%= label_tag :email, User.human_attribute_name('email')%>
    <%= text_field_tag :email, params[:email], :class => 'text_field' %><br />
    <%= label_tag :password, t("activerecord.attributes.user.password") %>
    <%= password_field_tag :password, params[:password], :class => 'text_field' %>
  </fieldset>
  <%= button_tag t("login"), class: "btn btn-success" %>  
<% end -%>