<div class="form-group">
  <%= f.label :date, Weighing.human_attribute_name('date') %>
  <%= f.text_field :date, "data-provide" => "datepicker", class: "form-control" %>
  <span class="help-block"><%= t "helpers.date" %></span>
</div>

<div class="form-group">
  <%= f.label :weight, Weighing.human_attribute_name('weight') %>
  <%= f.text_field :weight, class: 'number_field form-control', value: @last_weight %>
  <span class="help-block"><%= t "helpers.weight" %></span>
</div>

<div class="form-group">
  <%= f.label :abdominal_girth, Weighing.human_attribute_name('abdominal_girth') %>
  <%= f.text_field :abdominal_girth, class: 'number_field form-control', value: @last_abdominal_gith %>
  <span class="help-block"><%= t "helpers.girth" %></span>
</div>

<div class="form-group">
  <%= f.label :adipose, Weighing.human_attribute_name('adipose') %>
  <%= f.text_field :adipose, class: 'number_field form-control', value: @last_adipose %>
  <span class="help-block"><%= t "helpers.adipose" %></span>
</div>

<%= f.submit t("save"), class: "btn btn-primary" %>
<%= link_to t("cancel"), weighings_path, class: "btn btn-warning" %>
<%= link_to t("diagram"), diagram_weighings_path, class: "btn btn-info" %>

<script>
  $('#weighing_date').datepicker({
    format: "dd.mm.yyyy",
    todayHighlight: true
  });
</script>