<div id="chart">
  <svg style="height: 80%; min-height: 600px;"></svg>
</div>

<script type="text/javascript" charset="utf-8">
 nv.addGraph(function() {
    var chart = nv.models.lineWithFocusChart();
  
    chart.xAxis
      .tickFormat(function(d) {
      return d3.time.format('%d.%m.%Y')(new Date(d))
    });

    chart.x2Axis
      .tickFormat(function(d) {
      return d3.time.format('%d.%m.%Y')(new Date(d))  
    });    
    
    chart.forceY([<%= @minbmi %>, <%= @maxbmi %>]);

    chart.yAxis
      .tickFormat(d3.format(',.1f'));

    d3.select('#chart svg')
      .datum(plotData())
      .transition().duration(500)
      .call(chart);
  
   nv.utils.windowResize(chart.update);   

   return chart;
  });
 
function plotData() {
  return [{ 
    key: '<%= @weighings.first.user.email %>',
    values: [
      <% @weighings.each do |weighing| %> 
        {x: <%= weighing.date.to_time.to_i * 1000 %>, y: <%= (weighing.weight * 100 * 100 / @height / @height).round(2) %>, weight: <%= weighing.weight %>}, 
      <% end %>      
      ]
  },

  <% if 18.5 < @maxbmi && 18.5 > @minbmi %>
    {key: "Untergewicht <-> Normalgewicht", color: "#3DFFFF", values: [
      <% @weighings.each do |weighing| %>
        {x: <%= weighing.date.to_time.to_i * 1000 %>, y: 18.5}, 
      <% end %>
    ]},  
  <% end %>

  <% if 25 < @maxbmi && 25 > @minbmi %>
    {key: "Normalgewicht <-> Übergewicht", color: "#00FF80", values: [
      <% @weighings.each do |weighing| %>
        {x: <%= weighing.date.to_time.to_i * 1000 %>, y: 25}, 
      <% end %>
    ]},  
  <% end %>

  <% if 30 < @maxbmi && 30 > @minbmi %>
    {key: "Übergewicht <-> Adipositas Grad 1", color: "#FFFF00", values: [
      <% @weighings.each do |weighing| %>
        {x: <%= weighing.date.to_time.to_i * 1000 %>, y: 30}, 
      <% end %>
    ]},  
  <% end %>

  <% if 35 < @maxbmi && 35 > @minbmi %>
    {key: "Adipositas Grad 1 <-> Adipositas Grad 2", color: "#FF6633", values: [
      <% @weighings.each do |weighing| %>
        {x: <%= weighing.date.to_time.to_i * 1000 %>, y: 35}, 
      <% end %>
    ]},  
  <% end %>

  <% if 40 < @maxbmi && 40 > @minbmi %>
    {key: "Adipositas Grad 2 <-> Adipositas Grad 3", color: "#FF0000", values: [
      <% @weighings.each do |weighing| %>
        {x: <%= weighing.date.to_time.to_i * 1000 %>, y: 40}, 
      <% end %>
    ]},  
  <% end %>

  <% unless @target.nil? %>          
    {key: "Wunschgewicht", color: "#C33", size: 1, values: [
      <% @weighings.each do |weighing| %>
        {x: <%= weighing.date.to_time.to_i * 1000 %>, y: <%= @target %>}, 
      <% end %>
    ]},  
  <% end %>                                                          
  ]};
</script>
<br/><%= link_to t("compare"), select_competitor_weighings_path, :class => "btn btn-success" %>