<% content_for :sidebar do %>
  <li><%= link_to t("list"), weighings_path  %></li>
  <li><%= link_to t("new"), new_weighing_path %></li>
  <li class="active"><%= link_to t("diagram"), diagram_weighings_path %></li>
  <li><%= link_to t("compare"), select_competitor_weighings_path %></li>
  <li><%= link_to t("invite"), new_invitation_path %></li>
<% end %>

<h2>Diagramm des zeitlichen Verlaufs Ihres Body Mass Index</h2>

<style>
#chart svg { height: 400px;}
</style>

<div id="chart">
  <svg style="height: 500px;"></svg>
</div>

<script type="text/javascript" charset="utf-8">
 nv.addGraph(function() {
    var chart = nv.models.lineWithFocusChart();
  
    chart.xAxis
      .tickFormat(function(d) {
      return d3.time.format('%d.%m.%Y')(new Date(d))
    });

    chart.x2Axis
      .tickFormat(function(d) {
      return d3.time.format('%d.%m.%Y')(new Date(d))
    });    
    
    chart.yAxis
        .tickFormat(d3.format(',.i'));

   d3.select('#chart svg')
       .datum(plotData())
       .transition().duration(500)
       .call(chart);
  
   nv.utils.windowResize(chart.update);

   return chart;
});
 
function plotData() {
  return [{ 
    key: '<%= @weighings.first.user.email %>',
    values: [
      <% @weighings.each do |weighing| %> 
        {x: <%= weighing.date.to_time.to_i * 1000 %>, y: <%= (weighing.weight * 100 * 100 / @height / @height).round(2) %>, weight: <%= weighing.weight %>}, 
      <% end %>      
      ]
  },
  {key: "Normalgewicht <-> Übergewicht", color: "#556233", values: [{x: <%= @weighings.first.date.to_time.to_i * 1000 %>, y: 25}, 
                                                            {x: <%= @weighings.last.date.to_time.to_i * 1000 %>, y: 25}]},  
  {key: "Übergewicht <-> Adipositas", color: "#C44D58", values: [{x: <%= @weighings.first.date.to_time.to_i * 1000 %>, y: 30}, 
                                                            {x: <%= @weighings.last.date.to_time.to_i * 1000 %>, y: 30}]},  
  <% unless @target.nil? %>          
    {key: "Wunschgewicht", color: "#afa", size: 1, values: [{x: <%= @weighings.first.date.to_time.to_i * 1000 %>, y: <%= @target %>}, 
                                                            {x: <%= @weighings.last.date.to_time.to_i * 1000 %>, y: <%= @target %>16}]},  
  <% end %>                                                          
  ];   
};
</script>