<% content_for :sidebar do %>
  <li><%= link_to t("list"), weighings_path  %></li>
  <li><%= link_to t("new"), new_weighing_path %></li>
  <li class="active"><%= link_to t("edit"), edit_weighing_path %></li>
  <li><%= link_to t("diagram"), diagram_weighings_path %></li>
  <li><%= link_to t("invite"), new_invitation_path %></li>
<% end %>  

<h2><%= t("edit") %> <%= Weighing.model_name.human %></h2>

<%= bootstrap_error(@weighing, Weighing ) %>

<%= form_for @weighing, :url => weighing_path(@weighing), :html => { :class => :form } do |f| -%>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end -%>