<% content_for :sidebar do %>
  <li><%= link_to t("list"), weighings_path %></li>
  <li class="active"><%= link_to t("new"), new_weighing_path %></li>
  <li><%= link_to t("diagram"), diagram_weighings_path %></li>
  <li><%= link_to t("compare"), select_competitor_weighings_path %></li>
<% end %>

<h2><%= t("new")%> <%= Weighing.model_name.human %></h2>

<%= form_for :weighing, :url => weighings_path, :html => { :class => :form } do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>
