<% content_for :sidebar do %>
  <li><%= link_to t("list"), weighings_path  %></li>
  <li><%= link_to t("new"), new_weighing_path %></li>
  <li><%= link_to t("diagram"), diagram_weighings_path %></li>
  <li class="active"><%= link_to t("compare"), select_competitor_weighings_path %></li>
  <li><%= link_to t("invite"), new_invitation_path %></li>
<% end %>

<% if current_user.public? %>
  <%= form_tag '/weighings/compare', :method => :post, :class => 'form-horizontal' do %>
    <div class="form-group">
      <label><%= t "compare_with" %></label>
      <%= select('competitor', 'id', options_for_select(@competitors.map {|c| [c.email, c.id]}), {:include_blank => false},
                                     class: "form-control" ) %>
    </div>

    <div class="form-group">
      <div class="radio"><label>
        <%= radio_button_tag(:timespan, "full", :checked) %> alle Aufzeichnungen
      </label></div>
      <div class="radio"><label>
        <%= radio_button_tag(:timespan, "year") %> das letzte Jahr
      </label></div>
      <div class="radio"><label>
        <%= radio_button_tag(:timespan, "quarter") %> das letzte Quartal
      </label></div>
      <div class="radio"><label>
        <%= radio_button_tag(:timespan, "month") %> der letzte Monat
      </label></div>
    </div>

    <%= button_tag t("compare"), class: "btn btn-info" %>
  <% end %>
<% else %>
  <div class="alert alert-error">
    <%= t "private_profile" %>
  </div>
  <%= link_to t("edit_my_profile"), edit_user_path(current_user), class: "btn btn-warning" %>
<% end %>