<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bmi" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>
    <a href="https://github.com/mittenin-at/bmi">
      <img style="position: absolute; top: 0; right: 0; border: 0; z-index:10"
           src="<%= image_path('forkme_right_green_007200.png') %>"
           alt="Fork me on GitHub">
    </a>

    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">BMI Monitor@mittenin.at</a>
        </div>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
              <% if current_user %>
                <li class="dropdown">
                  <a class="dropdown-toggle" id="drop1" data-toggle="dropdown" href="#"><%= t('entries') %><b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li><%= link_to t("my_entries"), weighings_path  %></li>
                    <li><%= link_to t("new"), new_weighing_path %></li>
                    <li><%= link_to t("diagram"), diagram_weighings_path %></li>
                    <li><%= link_to t("compare"), select_competitor_weighings_path %></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" id="drop2" data-toggle="dropdown" href="#"><%= t('profile') %><b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                    <li><%= link_to t("my_profile"), user_path(current_user) %></li>
                    <li><%= link_to t("edit_my_profile"), edit_user_path(current_user) %></li>
                    <li><%= link_to t("user_list"), users_path if admin? %></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" id="drop3" data-toggle="dropdown" href="#"><%= t('invitation') %><b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                    <li><%= link_to t("invite"), new_invitation_path %></li>
                    <li><%= link_to t("invitations"), invitations_path if admin? %></li>
                  </ul>
                </li>
              <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "DE", request.path + "?locale=de" %></li>
            <li><%= link_to "EN", request.path + "?locale=en" %></li>
            <li><%= link_to('Abmelden', authentication_logout_path) if current_user %></li>
            <li>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</li>
            <li>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->

    <footer class="footer">
      <div class="container">
        <p><br/><a href="http://bmi.mittenin.at">BMI Monitor </a> @ <a href="http://www.mittenin.at">Mittenin.at</a></p>
      </div>
    </footer>
    <%= yield :javascript %>
  </body>
</html>